@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
}
body {
  background: #ececec;
}
h1 {
  font-size: 32px;
  margin-top: 30px;
  font-family: "Oswald", sans-serif;
  text-align: center;
}
.blogShow-wrapper {
  display: inline-flex;
}
.bs-blog-wrapper {
  padding: 15px;
}
.bs-blog-wrapper .bs-blog-card {
  max-width: 300px;
  margin: 15px;
  background: #fff;
  border: 1px solid #cb6074;
  text-align: center;
  cursor: pointer;
}
.bs-blog-wrapper .bs-blog-card:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.bs-blog-wrapper .bs-blog-card:hover .bs-card-img img {
  opacity: 0.8;
}
.bs-blog-wrapper .bs-blog-card .bs-card-img {
  position: relative;
  text-align: center;
  background: #cb6074;
}
.bs-blog-wrapper .bs-blog-card .bs-card-img img {
  max-height: 180px;
  width: 100%;
  border-bottom: 4px solid #cb6074;
}
.bs-blog-wrapper .bs-blog-card .bs-card-img:before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px #cb6074;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}
.bs-blog-wrapper .bs-blog-card .bs-card-img h1 {
  position: absolute;
  margin: 0;
  font-size: 42px;
  bottom: 15px;
  width: 100%;
  color: #fff;
  font-family: "Slabo 27px", serif;
}
.bs-blog-wrapper .bs-blog-card .bs-card-details {
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  color: #3c3c3c;
}
.bs-blog-wrapper .bs-blog-card .bs-card-details span {
  padding: 0 30px;
}
.bs-blog-wrapper .bs-blog-card .bs-card-details span i {
  margin-right: 5px;
}
.bs-blog-wrapper .bs-blog-card .bs-card-text {
  margin: 30px 15px;
  font-family: "Roboto", sans-serif;
  line-height: 22px;
}
.bs-blog-wrapper .bs-blog-card .bs-read-more {
  display: inline-block;
  width: auto;
  text-align: center;
  text-transform: uppercase;
  background: #cb6074;
  color: #fff;
  padding: 15px;
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
}
.bs-blog-wrapper .bs-blog-card .bs-read-more:hover {
  background: #943143;
}
.bs-read-more {
  border-radius: 20px;
  border: 1px solid black;
}
.bs-read-more a {
  color: #ffff;
}
.bs-card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn {
  border: none;
  cursor: pointer;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 12px;
}
.bs-edit-btn {
  background-color: #f0ad4e;
}
.bs-edit-btn a {
  color: #ffff;
}
.bs-edit-btn:hover {
  background-color: #ec971f;
}
.bs-delete-btn {
  background-color: #d9534f;
  color: #ffff;
}
.bs-delete-btn:hover {
  background-color: #c9302c;
}
