* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  list-style: none;
  /* background-color: #FFB84C; */
}

.navbar {
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A459D1;
    color: #F5EAEA;
    height: 80px;
    padding:  0 50px;
  }
  

  .nav-menu{
    display: flex;
    gap :30px;
    color: #F5EAEA;
    
   
  }
  .anaSayfa{
    color: #F5EAEA;
  }
  .info{
    color: #F5EAEA;
  }
  .egitim{
    color: #F5EAEA;
  }
  .blog{
    color: #F5EAEA
  }

  .homepage{
    display:flex;
    background-color: #6689A1;
    align-items: center;
    height: 85%;
    text-align: justify;
    flex-direction: column;
    padding: 0 20px;

  }
 
 

