* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 80px;
    padding:  0 50px;
  }

  .nav-menu{
    display: flex;
    gap :30px
   
  }
  

  .search-input{
    height: 20em; 
    min-height: 3em; 
    resize: vertical;
    width: 100%; 
    padding: 10px; 
    font-size: 16px;
    line-height: 1.5; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
  }

