* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-align: center;
  list-style: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A459D1;
    color: #F5EAEA;
    height: 80px;
    padding:  0 50px;
  }
  .img-logo {
    width: 5rem;
    height: 5rem;
  }
  .img-logo:hover {
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
  }
  .nav-menu{
    display: flex;
    gap :30px;
    color: #F5EAEA;
  }
  .nav-menu li a {
    color: #F5EAEA;
  }
  .item.active a {
    color: #FFB84C;
  }
  .anaSayfa{
    color: #F5EAEA;
  }
  .info{
    color: #F5EAEA;
  }
  .egitim{
    color: #F5EAEA;
  }
  .blog{
    color: #F5EAEA
  }
  .homepage{
    display:flex;
    background-color: #F5EAEA;
    align-items: center;
    height: 100%;
    text-align: justify;
    flex-direction: column;
    padding: 0 20px;
  }
 
 

